nav{
    padding: 20px;
    font-size: larger;
    background-color: rgb(22, 167, 215);
    border-radius: 5px;
    margin: -19px ;
}
nav>a{
    text-decoration: underline solid black;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
main{
    padding: 50px;
    text-align: center;
   
}
input{
    width: 50%;
    height: 5%;
    border-radius: 6px;
}
button{
    height: 5%;
    background-color: aquamarine;
    border-radius: 6px;
    cursor: pointer;
}
li{
    font-size: larger;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    text-align: left;
    padding: 7px;
}
.editbtn {
    
    margin-left: 400px;
}
